header {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;

    .header-menu-icon {
        font-size: 18px;
        line-height: 14px;
        color: var(--white);
        margin-right: 8px;
        cursor: pointer;
    }

    .header-slim-toggle.left {
        height: 32px;
        width: 32px;
        border-radius: 10px;
        // border: 1px solid var(--light-border);
        // background: var(--white);
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        line-height: 22px;
        color: var(--heading-font);
        cursor: pointer;
    }

    img {
        height: 30px;
        border-radius: 7px;
        cursor: pointer;
    }
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;

    .header-search {
        display: flex;
        align-items: center;
        background: var(--white);
        border: 1px solid var(--light-border);
        border-radius: 999px;
        // box-shadow: 0 3px 8px rgba(17, 24, 39, .06);
        height: 34px;
        padding: 0 12px;
        min-width: 320px;

        .search-icon {
            color: var(--normal-font);
            font-size: 14px;
        }

        input {
            border: none;
            outline: none;
            background: transparent;
            padding-left: 8px;
            font-size: 13px;
            width: 100%;
        }
    }

    .theme-toggle {
        height: 32px;
        width: 32px;
        border-radius: 10px;
        border: 1px solid var(--light-border);
        background: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--heading-font);
        cursor: pointer;
    }

    .header-bell {
        height: 32px;
        width: 32px;
        border-radius: 999px;
        border: 1px solid var(--light-border);
        background: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--heading-font);
        cursor: pointer;
    }
}

.header-menus-main {
    position: fixed;
    z-index: 99999 !important;
    background-color: var(--sidebar-bg);
    border: 1px solid #dbdbdb;
    top: 54px;
    border-radius: 10px;
    right: 10px;

    .single-header-menu {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: start;
        border-radius: 10px;
        color: #000;
        height: 32px;
        cursor: pointer;
        font-size: 12px;
        padding: 0 10px;

        span {
            margin-right: 8px;
            font-size: 14px;
            color: var(--primary);
        }
    }
}